@tailwind base;
@tailwind components;
@tailwind utilities;


.img-hover-zoom img {
transition: transform .5s ease;
}
.img-hover-zoom:hover img {
    transform: scale(1.5);
}

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    object-fit: cover;
  }